.header-logo {
  height: 4em;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(151,147,208);
background: linear-gradient(90deg, rgba(151,147,208,1) 0%, rgba(66,185,135,1) 57%, rgba(0,212,255,1) 100%);
}

.link {
  padding-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.link:hover {
  color: white;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  outline: none;
  font-size: 1.5em;
}

form label {
  position: absolute;
  left: -99999px;
}

button {
  padding: 1rem 2rem;
  font-size: 1.25em;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #009FFD;
}