.header-logo {
  height: 4em;
}

header {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(151,147,208);
background: linear-gradient(90deg, rgba(151,147,208,1) 0%, rgba(66,185,135,1) 57%, rgba(0,212,255,1) 100%);
}

.link {
  padding-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.link:hover {
  color: white;
}

