.App {
  background: rgb(21,19,27);
  background: linear-gradient(0deg, rgba(21,19,27,1) 0%, rgb(13, 12, 17) 100%);
}

h2, h1 {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #D1495B;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-top: 2rem;
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
  width: fit-content;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h4 {
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 1rem;
}

p {
  max-width: 800px;
  padding: 1rem;
  font-size: 1.25em;
}

.link {
  padding-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.link:hover {
  color: white;
}

button {
  background-color: #009FFD;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  font-weight: 700;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  background-color: #0087d5;
  transform: translateY(4px);
}

form label {
  position: absolute;
  left: -99999px;
}

/* NAV */
.header-logo {
  height: 4em;
}

header {
  max-height: 4em;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EDAE49;
}

/* HOME */
.home-picture {
  display: block;
  margin: auto;
  height: 200px;
  width: 600px;
}

.writing {
  text-align: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 500px;
  margin-right: 500px;
}

.pic1 {
  width: 500px;
  height: 400px;
  padding: 10px;
}
.pic2 {
  width: 500px;
  height: 400px;
  padding: 10px;
}

.home p {
  margin: 0 auto;
}

.home2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home svg {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* SIGNIN/REGISTER */

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  outline: none;
  font-size: 1.5em;
}

.error-msg {
  width: fit-content;
  padding: 1rem 2rem;
  margin: 2rem auto;
  text-transform: uppercase;
  border: 1px solid #D1495B;
}

/* REVIEWS */
.profile {
  padding-left: 10px;
}

.info-card {
  position: relative;
  width: 400px;
  height: 200px;
}

.review-cardfav {
  position: relative;
  width: 500px;
  height: 300px;
}

.review-card {
  position: relative;
  width: 500px;
  height: 200px;
  margin-bottom: 90px;
}

.review_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .beer_list {
  justify-content: center;
}

.details h1 {
  margin-top: 2rem;
}

.review_list {
margin: 1em
}

#review_form {
  margin: 0;
}

#review_form textarea {
  outline: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5em;
}

#review_form fieldset {
  padding: 1rem;
  border-radius: 1rem;
}

#user-button {
  padding: 1rem 2rem;
  font-size: 1.25em;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #009FFD;
  color: white;
}

.breweryGrid {
  max-width: 1000px;
  margin: 0 auto;
}

.brewery_card {
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.brewery_card:hover {
  color: #D1495B;
  border-color: #D1495B;
}

.beer_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#body {
  height: 10em;
  width: 30em;
  resize: none;
}

.profile {
  height: 100vh;
}

.login, .signup {
  height: 100vh;
}

.footer {
  padding: 5rem;
  position: relative;
  text-align: center;
}

.auth-error .buttons {
  width: fit-content;
  margin: 4rem auto;
}