h2, h1 {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #D1495B;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  max-width: 800px;
  padding: 1rem;
  font-size: 1.25em;
}

.link {
  padding-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  position: relative;
}

.link:hover {
  color: white;
}

button {
  background-color: #009FFD;
  cursor: pointer;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  font-weight: 700;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  background-color: #0087d5;
  transform: translateY(4px);
}

form label {
  position: absolute;
  left: -99999px;
}

/* NAV */
.header-logo {
  height: 4em;
}

header {
  max-height: 4em;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EDAE49;
}

/* HOME */
.home-picture {
  display: block;
  margin: auto;
  height: 200px;
  width: 600px;
}

.writing {
  text-align: center;
}

.home-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 500px;
  margin-right: 500px;
}

.pic1 {
  width: 500px;
  height: 400px;
  padding: 10px;
}
.pic2 {
  width: 500px;
  height: 400px;
  padding: 10px;
}

.profile {
  background-color: lightcyan;
  padding-left: 10px;
}

.home p {
  margin: 0 auto;
}

.home2 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home svg {
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* SIGNIN/REGISTER */
.signin, .register {
  padding: 2rem;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  outline: none;
  font-size: 1.5em;
}

.info-card {
  position: relative;
  width: 400px;
  height: 200px;
}

.review-cardfav {
  position: relative;
  width: 500px;
  height: 300px;
  border: 2px solid rgb(85, 185, 165);
}

.review-card {
  position: relative;
  width: 500px;
  height: 200px;
  margin-bottom: 90px;
}

#user-button {
  padding: 1rem 2rem;
  font-size: 1.25em;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: #009FFD;
  color: white;
}

.brewery_card {
  border: 1px solid black;
  margin: 1em;
}

.brewery_card:hover {
  box-shadow: 0px 0px 4px 2px black
}

#body {
  height: 10em;
  width: 30em;
  resize: none;
}